*{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 24px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
body{
    background-color: coral;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    font-size: 56px;
    margin-bottom: 24px;
}
.container_input{
    max-width: 480px;
    margin: 14px 0;
    font-weight: bold;
}
.slider{
    -webkit-appearance: none;
    width: 100%;
    height: 18px;
    border-radius: 10px;
    background-color: blanchedalmond;
    outline: none;
    margin-top: 8px;
}
.button_cta{
    height: 48px;
    color: darksalmon;
    background-color:black;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 40px;
    font-weight: bold;
}
.container_password{
    max-width: 480px;
    margin: 14px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.text_return{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 8px;
}
.password{
    height: 52px;
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: .05rem solid black;
    border-radius: 10px;
    transition: transform 0.5s;
    cursor: pointer;
}
.password:hover{
    transform: scale(1.05)
}
.tooltip{
    font-size: 16px;
    border-radius: 10px;
    position: relative;
    top: 20px;
    padding: 6px 8px;
    background-color: darkgrey;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.hide {
    display: none;
}
.container_password:hover .tooltip{
    visibility: visible;
    opacity: 1;
}